body{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 24px;
}

a,a:visited {
	color: red;
	text-decoration: none;
}

a:hover{
	color: tomato;
	text-decoration: underline;
}

a:active{
	color: darkred;
	text-decoration: underline;
}

